@import "config.css";
header
{
	height:100px;font-family:Helvetica,Arial,sans-serif;font-size:14px;position:sticky;background-color:#ffba00;top:0;width:100%;z-index:1000
}
a{
    color : black;
    text-decoration: none;
}

.topnav {
  height:50px;width:936px;margin:0 auto
}
@media screen and (max-width: 900px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
}
.logo
{
  float:left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px
}
.items {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 17px;
}
.nextToSearch
{
    float:right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.input-search
{
    width:608px;height:36px;border:none;padding:0;margin-left:0px;margin-top:2px;font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.33;letter-spacing:normal;outline:none;color:#9b9b9b;text-indent:12px
}


.wrap {
    padding-top:10px;
    max-width: 968px;
    text-align: center;
    position: relative;
    margin: auto;
    background-color: #fff;
}

.ekvnxp {
    margin: 0 auto;
    max-width: 968px;
}

@media (max-width: 540px) {
    .ekvnxp {
        padding: 0 !important;
    }
}
.ergipz {
    background: #ffffff;
    padding: 12px 0 0 0;
}
.eBxpbB {
    font-size: 25px;
    margin: 0 0 12px 0px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #222222;
}
.eUGWBc {
    border-top: 1px solid #f4f4f4;
}
.eeWqmX {
    height: 92px;
    outline: none;
    position: relative;
    list-style: none;
    cursor: pointer;
    -webkit-flex: 1 1 33.33%;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%;
    border-right: 1px solid #f4f4f4;
}
    .eeWqmX:nth-child(3n) {
        border-right: 1px solid transparent;
    }

        .eeWqmX:nth-child(3n):hover {
            border-right: 1px solid #f4f4f4;
        }
.gEZtIB {
    background-size: cover;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 15px 0;
    margin-right: -1px;
}

    .gEZtIB:hover {
        background-color: #f4f4f4;
    }
.evplWh {
    color: #222;
    line-height: 1.33;
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
.jaZGFx {
    color: #9b9b9b;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.jaZGFx b {
    font-size: 14px;
}
.img1 {
    background: #f6f7f8;
    background: linear-gradient(to right,#eeeeee 8%,#dddddd 18%,#eeeeee 33%);
    background-size: 1000px 104px;
    height: 200px;
    width: 192px;
    position: relative;
    padding: 12px; 
    overflow: hidden;
    border: 11px solid #fff;
    margin:2px;
}
.img2 {
    background: #f6f7f8;
    background: linear-gradient(to right,#eeeeee 8%,#dddddd 18%,#eeeeee 33%);
    background-size: 1000px 104px;
    height: 200px;
    width: 192px;
    position: relative;
    padding: 10px;
    overflow: hidden;
}
.desc1
{
    padding-left : 12px;
}
footer {
    background-color: #ffff;
    border-top: 10px solid #f4f4f4;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
}
.footer-container {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
}
.footer-item {
    width:100%;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
.footer-ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-direction: column;
}
.footer-li {
    font-size: 14px;
    margin: 0;
    line-height: 1.29;
    padding: 0;
    margin-bottom: 12px;
}
.footer-heading {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif !important;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #15181f;
    text-transform: uppercase;
}
.wrap-list 
{
    padding-top:10px;
    display:flex;
    padding-bottom:15px;
}
.wrap-list-img
{   
    padding : 0px 10px 10px 0px;
    width:200px;
    height:150px;
}
.wrap-list-body{
    display:inline;
}
.wrap-list-content {
    font-family: Verdana,Arial,sans-serif;
    font-size: 18px;
    line-height: 15px;
    max-height: 35px;
    margin:0;
}
.wrap-list-content-lowerhalf
{
    padding-top:40px;
}
.wrap-list-price {
    color: red;
    font-size: 14px;
    font-family: Verdana,Arial,sans-serif;
}
.adListingInfo{
    padding-top:60px;
}
.adItems
{
    padding-right:20px;
}
.productLists {
    /* position : relative;
    overflow: hidden;
    left:350px; */
    height: 60px;
}
.listItems {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.accessRow {
    /* overflow: auto; */
    width: 1200px;
    margin:auto;
    padding: auto;
    display: block;
}

.accessRowItemsRight {
    float: right;
    outline: none;
    display: inline-block;
    border: 0;
    padding-top:10px;
}
.accessRowItemsRightIn {
    float: right;
    padding-top:10px;
    padding-right:30px;
}
ol
{
    padding-left:10px;
}
.divider::before
{ 
    content:">>";
}
.clearList li {
    display: inline-block;
    list-style-type: none;
    padding-left:5px;
    margin-left: 15px;
}
/* .container
{
    display:flex;
} */
.col1
{
    width:66.67%;
}
.col2
{
    padding-left:30px;
    width:33.33%;
}
.item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    object-fit: cover;
    background-color:grey;
}
.detailed-price {
    color: red;
    font-size: 15px;
    font-family: Verdana,Arial,sans-serif;
}
.item-title {
    display:inline;
    margin: 3 3 0 0;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #222222;
}
.item-location
{
    padding-top:10px;
}
.item-description
{
    padding-top:15px;
    padding-bottom:20px;
}
.item-area
{
    padding-bottom:10px;
}
.phoneSeller
{
    color : orangered;
    padding-bottom:10px;
}
.chat-item
{
    font-size:18px;
    color:cornflowerblue;
}
.contact-help {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    font-style: italic;
}
.contact-cskh
{
    color:blue;
}
.avatar-image {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    background-color: white;
    position: relative;
    background-position: center;
    padding-right:10px;
}
.ava-pic {
    border-radius: 50%;
}
.seller-name {
    font-weight:700;
    font-size:18px;
    line-height:10px;
}
.call-box {
    display: block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 15px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
    font-size: 13px;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    color: #fff;
    background-color: #33a837;
}
.chat-link-box {
    display: block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 8px 10px;
    line-height: 1.42857;
    border-radius: 4px;
    font-size: 13px;
    color: #3c763d;
    background-color: #fff;
    font-weight: 600;
    text-align: center;
    -webkit-transition: background-color 200ms ease-in-out;
}
.separator
{
    padding-top:20px;
}
.separator2
{
    padding-top:10px
}
.center-report {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:20px;
}
.avatar-image2 {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    background-color: white;
    position: relative;
    background-position: center;
    padding-right: 10px;
    padding-left:13px;
}
.col1-2 
{
    width: 50%;
}
.col2-2 {
    padding-left: 30px;
    width: 50%;
}
.vl {
    border-left: 2px solid #eee;
}
.vl2 {
    border-left: 2px solid black;
}
.profile-info
{
    display:block;
    padding-bottom:5px;
}
.report-profile
{
    color:white ;
    background-color:orangered;
}
hr.divide-profile
{
    padding:0;
    border:2px solid #eee;
}
.heart-class {
    position: absolute;
    bottom: 10px;
    right: 0px;
    z-index: 1;
}
.heart-button
{
    padding-right:5px;
    float:right;
}
.input-comment {
    width: 100%;
    height: 36px;
    background-color: #C0C0C0;
    border: none;
    position: relative;
    padding: 0;
    margin-left: 0px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    outline: none;
    text-indent:8px;    
}

.col1-chat
{
    width:33.33%;
}
.chat-section
{
    width:100%;
}
.chat-section2 {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    position: relative;
    background-position: center;
    padding-top:5px;
    padding-right:10px;
}
.chat-name
{
    padding-top:10px;
}
.col2-chat {
    font-weight: 700;
    font-size: 18px;
    line-height: 10px;
    width: 66.67%;
}
.container2 {
    height: 100%;
    border-collapse: collapse;
}
.input-chat {
    width: 608px;
    height: 36px;
    background-color: black;
    border: none;
    position: relative;
    padding: 0;
    margin-left: 0px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    outline: none;
    color: #9b9b9b;
    text-indent: 12px
}
.form-post {
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}

    .form-post form {
        display: block;
        padding: 10px;
    }

        .form-post form select,
        .form-post form input {
            width: 100%;
            padding: 10px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

            .form-post form select:focus,
            .form-post form input:focus {
                outline: none;
            }

form label {
    font-weight: 700;
    font-size: 0.9rem;
}

    form label span {
        color: red;
    }

.expand-address {
    display: flex;
    justify-content: space-between;
}

    .expand-address .number-home {
        width: 20%;
    }

    .expand-address .street {
        width: 79%;
    }

.form-post .near-location {
    display: flex;
    flex-direction: column;
}
 .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:10px;
}
.camera-icon {
    width: 120px;
    height: 120px;
    padding: 10px;
    cursor: pointer;
}
.image-input>input
{
    display:none;
}
.infoRemind {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.input-button
{
    padding-bottom:10px;
}
.duration-post .input-duration {
    display: flex;
    justify-content: space-between;
}

    .duration-post .input-duration > * {
        width: 23%;
    }
.footer-icon
{
    width:40px;
    height:40px;
}
.col1-noti
{
    width:60%;
}
.noti-line
{
    padding-top:50px;
    color : red;
}
.settings
{
    padding-right:5px;
}
.noti-line2
{
    display:inline;
    padding-right:5px;
}
.noti-approved
{
    padding-bottom:10px;
    padding-top:10px;
}
.saved-posts
{
    text-align: center;
    margin: auto;
    width: 20%;
    background-color:#ffba00;
    border: 2px solid #ffba00;
    padding:5px;
}
.container-fluid
{
    display:grid;
    grid-template-columns: auto auto auto auto;
}
.wrap-list2
{
    display: block;
}
.wrap-list-img2
{   
    padding-top: 10px;
    padding-bottom: 5px;
    width : 200px;
    height: 200px;
}
.wrap-list-content2 {
    font-family: Verdana,Arial,sans-serif;
}